html,body{
  height: 100%;
  width:100%; 
}
body{
  padding:3%;
}
a {
  text-decoration: none;
}
.float {
  text-align: center;
  font-size: 18px;
  margin-bottom: 4px;
}
.bg {
  height: 100%;
  width:100%;
  background-color:#56836F;
  padding: 2%;
  border-color: #006837;
  border-width: 4px;
  border-style: solid;
}
.yellow {
  position: relative;      
  height: 356px;
  width:617px;
  padding:20px 10px;
  background-color: yellow;
  float: left;
  top: 75px;
  
}
.yellow1 {
height: 356px;
width: 523px;
padding: 20px 10px;
float: right;
position: relative;
background-color:yellow;
margin-right: 56px;

}
.kompi {
  float: right;
  margin-right:40px;
  width: 151.78px;
  height: 118px;
  position: absolute;
  top: 10px;
  left: 400px;
  }
.kompi1 {
  float: left;
  margin-right:20px;
  width: 151.78px;
  height: 118px;
  position: absolute;
  top: 10px;
  right: 330px;
}
.aqua{
  height: 100%;
  width:100;
  background: aqua;
}
.navbar-li {
  display: inline-block;
}
ul {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}
li a{
  display: inline-block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 48px;
}
.pwichka {
  float: right;
  width: 201.2px;
  height: 151.5px;
  margin-bottom: 20px;
}
.clear{
  clear: both;
}
